@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(180, 207, 207), rgb(27, 27, 253));
}

main{
    border-radius: 15px;
    margin: auto;
    text-align: center;
    background-color: white;
    width: 700px;
    height: 1200px;
}

.home img{
    position: relative;
    width: 50px;
    border-radius: 50%;
    left: 300px;
    top: 27px;
    transition: .3s;
}

section#sobre{
    padding: 10px;
}

section#sobre a{
    text-decoration: none;
    
}

.android{
    margin: 100px;
}

.android img {
    width: 350px;
    border-radius: 80px;
    transition: .5s;
}

.cordel {
    margin: 100px;
}

.cordel img{
    width: 350px;
    border-radius: 80px;
    transition: .5s;
}

.linkedin {
    margin: 100px;
}

.linkedin img {
    width: 350px;
    border-radius: 80px;
    transition: .5s;
}


@media screen and (min-width:768px) {
    
 /* Apenas :hover */

    .home img:hover{
        width: 60px;
        transform: translate(-3px, -3px);
    }

    #sobre a:hover {
        text-decoration: underline;
    } 

    .android img:hover{
        border: 1px solid black;
        transition: .5s;
        width: 400px;
        height: 150px;
        transform: translate(-3px, -3px);
    }

    .cordel img:hover{
        transition: .5s;
        width: 400px;
        height: 130px;
        transform: translate(-3px, -3px);
        }

    .linkedin img:hover{
        transition: .5s;
        width: 400px;
        height: 100px;
        transform: translate(-3px, -3px);
    }
}

@media screen and (max-width:768px) {

main {
    border-radius: 15px;
    margin: auto;
    text-align: center;
    background-color: white;
    width: 350px;
    height: 1300px;
    
} 

.home img {
    left: 135px;
}

.android img {
    width: 250px;
    transform: translate(-20% );
}

.cordel img {
    width: 250px;
    transform: translate(-20% );
}

.linkedin img {
    width: 250px;
    transform: translate(-20% );
}


}
