@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: black url('../imagens/fundo.jpg') center center no-repeat fixed;
    background-size: cover;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

nav{
    position: absolute;
    left: 900px;
    top: 15px;
}

div#projetos a{
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}

div#projetos a:hover{
    font-size: 20px;
    
}

section#sobre h1{
    font-size: 35px;
    padding: 0px 0px 0px 10px;
}

section#sobre h2{
    font-size: 30px;
    position: absolute;
    top: 220px;
    left: 50px;
}

p#lucas{
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 20px;
    width: 500px;
}

p#estudo{
    position: absolute;
    top: 420px;
    left: 50px;
    font-size: 20px;
    width: 500px;
}

section#social{
    position: absolute;
    top: 550px;
    left: 15px;
    
}

section#social img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;
}

section#social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.425);
    transform: translate(-3px, -3px);
}